<p id="notice"><%= notice %></p>

<h1>Servicos</h1>

<table>
  <thead>
    <tr>
      <th>Prestador</th>
      <th>Tiposervico</th>
      <th>Saida</th>
      <th>Retorno</th>
      <th>Qtd</th>
      <th>Peso saida</th>
      <th>Peso retorno</th>
      <th>Totalservico</th>
      <th>Ref peca</th>
      <th>Solicitante</th>
      <th>Status</th>
      <th>Qtdaproduzir</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicos.each do |servico| %>
      <tr>
        <td><%= servico.prestador %></td>
        <td><%= servico.tipoServico %></td>
        <td><%= servico.saida %></td>
        <td><%= servico.retorno %></td>
        <td><%= servico.qtd %></td>
        <td><%= servico.peso_saida %></td>
        <td><%= servico.peso_retorno %></td>
        <td><%= servico.totalServico %></td>
        <td><%= servico.ref_peca %></td>
        <td><%= servico.solicitante %></td>
        <td><%= servico.status %></td>
        <td><%= servico.qtdAproduzir %></td>
        <td><%= link_to 'Show', servico %></td>
        <td><%= link_to 'Edit', edit_servico_path(servico) %></td>
        <td><%= link_to 'Destroy', servico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servico', new_servico_path %>
