<div class="card border-secondary mb-3" style="max-width: 30rem; margin-left: 350px; margin-top: 10px;">
  <div class="card-header"><h5>J.B. Brutos</h5></div>
    <div class="card-body text-secondary">
    
              <div class="grid-container">
                <div class="grid-item">
                  <strong>Prestador:</strong>
                  <%= @servico.prestador %>
                </div>
                <div class="grid-item">
                  <strong>Tipo Serviço:</strong>
                  <%= @servico.tipoServico %>
                </div>
                <div class="grid-item">
                  <strong>Saida:</strong>
                  <%= @servico.saida.day.to_s+"/"+@servico.saida.month.to_s+"/"+@servico.saida.year.to_s  %>
                </div>
                <div class="grid-item">           
                  <strong>Retorno:</strong>
                  <%= @servico.retorno.day.to_s+"/"+@servico.retorno.month.to_s+"/"+@servico.retorno.year.to_s  %>
                </div>
                <div class="grid-item">
                  <strong>Qtd:</strong>
                  <%= @servico.qtd %>
                </div>
                <div class="grid-item">
                  <strong>Qtd. a Produzir:</strong>
                  <%= @servico.qtdAproduzir %>
                </div>
                <div class="grid-item">
                  <strong>Peso saida:</strong>
                  <%= @servico.peso_saida %>
                </div>
                <div class="grid-item">
                  <strong>Peso retorno:</strong>
                  <%= @servico.peso_retorno %>
                </div>
                <div class="grid-item">
                  <strong>Ref peca:</strong>
                  <%= @servico.ref_peca %>
                </div>
                <div class="grid-item">    
                  <strong>Status:</strong>
                  <%= @servico.status %>
                </div>
                <div class="grid-item">
                  <strong>Solicitante:</strong>
                  <%= @servico.solicitante %>
                </div>
                <div class="grid-item"></div>
              </div> 
   <br>
      <% if current_user.email == "adm@adm.com" %>
        <%= link_to 'Editar', edit_servico_path(@servico),:class=>'btn btn-outline-warning' %> 
      <% end %>
      <%= link_to 'Voltar', servicos_path, :class=>'btn btn-outline-dark'  %>
      <%= link_to 'Visualizar Impressão', servico_path(@servico, format: 'pdf'), target: :_blank, :class=>'btn btn-outline-danger' %>

  </div>
</div>
