<p id="notice"><%= notice %></p>

<p>
  <strong>Prestador:</strong>
  <%= @servico.prestador %>
</p>

<p>
  <strong>Tiposervico:</strong>
  <%= @servico.tipoServico %>
</p>

<p>
  <strong>Saida:</strong>
  <%= @servico.saida %>
</p>

<p>
  <strong>Retorno:</strong>
  <%= @servico.retorno %>
</p>

<p>
  <strong>Qtd:</strong>
  <%= @servico.qtd %>
</p>

<p>
  <strong>Peso saida:</strong>
  <%= @servico.peso_saida %>
</p>

<p>
  <strong>Peso retorno:</strong>
  <%= @servico.peso_retorno %>
</p>

<p>
  <strong>Totalservico:</strong>
  <%= @servico.totalServico %>
</p>

<p>
  <strong>Ref peca:</strong>
  <%= @servico.ref_peca %>
</p>

<p>
  <strong>Solicitante:</strong>
  <%= @servico.solicitante %>
</p>

<p>
  <strong>Status:</strong>
  <%= @servico.status %>
</p>

<p>
  <strong>Qtdaproduzir:</strong>
  <%= @servico.qtdAproduzir %>
</p>

<%= link_to 'Edit', edit_servico_path(@servico) %> |
<%= link_to 'Back', servicos_path %>
