<div class="card border-secondary mb-3" style="max-width: 30rem; margin-left: 350px; margin-top: 10px;">
  <div class="card-header"><h5>J.B. Brutos</h5></div>
    <div class="card-body text-secondary">

      <p style="color: black;">
        <strong>Prestador:</strong>
        <%= @servico.prestador %>
        <strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Tipo Serviço:</strong>
        <%= @servico.tipoServico %><br>
        <strong>Saida:</strong>
        <%= @servico.saida %>
        <strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Retorno:</strong>
        <%= @servico.retorno%><br>
        <strong>Qtd:</strong>
        <%= @servico.qtd %>
        <strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Qtd. a Produzir:</strong>
        <%= @servico.qtdAproduzir %><br>
        <strong>Peso saida:</strong>
        <%= @servico.peso_saida %>
        <strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Peso retorno:</strong>
        <%= @servico.peso_retorno %><br> 
        <strong>Ref peca:</strong>
        <%= @servico.ref_peca %>
        <strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Status:</strong>
        <%= @servico.status %><br>
        <strong>Solicitante:</strong>
        <%= @servico.solicitante %>
        
      </p>

      <% if current_user.email == "adm@adm.com" %>
        <%= link_to 'Editar', edit_servico_path(@servico),:class=>'btn btn-outline-warning' %> 
      <% end %>
      <%= link_to 'Voltar', servicos_path, :class=>'btn btn-outline-dark'  %>
      <%= link_to 'Visualizar Impressão', servico_path(@servico, format: 'pdf'), target: :_blank, :class=>'btn btn-outline-danger' %>

  </div>
</div>